html
    link(rel= "stylesheet" href="css/styles.css")    
    body
     
      h1 Kim's Convenience 
            h2 Developed By:
            ul 
                each developer in showdata.developedBy
                    li= developer
            h3 Starring:
            ul 
                each stars in showdata.starring
                    li= stars
