html 
    include partials/head.pug
    body 
        h1 Kim's Convenience 
             h3 Episode: 
             ul 
                each episode in season.episodes
                    li= `Number: ${episode.number} Title: ${episode.title}  Director: ${episode.director}`  
                    div=`${episode.synopsis}`